@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Start Global Rulws */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root{
  --main-color: black;
  --alt-color: #fff;
  --alt2-color: #F68221;
  --color-777: #777;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: black;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 269px){
  body {
      width: 50vh;
  }
}
@media (min-width: 768px){
  .container{
    width: 758px;
  }
}
@media (min-width: 992px){
  .container{
    width: 970px;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
.btn{
  color: var(--alt-color);
  font-weight: bold;
  background-color: var(--alt2-color);
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 16px;
  
}
.btn:hover{
  background-color: #e76e09;
  border-color: #db6909;
  transition: var(--main-transition);
}

/* End Global Rulws */
/* Start hedaer */
header .header-top{
  background-color: #212529;
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  color: var(--alt-color);
}
header .header-top .container .links ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: var(--alt-color);
}
header .header-top .container .links ul a {
 color: var(--alt-color); 
 font-size: 14px;
 padding-right: 10px;
}
@media (max-width: 992px){
  header .header-top .container .links ul li .no {
    display: none;
   }
}
header .header-top .container .links ul a:hover {
  color: #777;
  transition: var(--main-transition);
}
header .header-top .container span:last-child {
  cursor: pointer;
}
header .header-top .container span:last-child::before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  font-weight: 900;
  padding-right: 5px;
  cursor: pointer;
}
header .header-top .container span:hover:last-child::before{
  color: #ddd;
  transition: var(--main-transition);
}
/* Start Navbar */
.navbar {
  padding: 10px 0;
  position: relative;
  background-color: #fff;
  z-index: 800;
}
.navbar .container{
  display: flex;
  align-items: center;
}
@media (max-width: 992px){
  .navbar {
    width: 100%;
}
  .navbar .container{
    justify-content: space-between;
  }
}
.navbar .navbar-brand img{
  width: 150px;
}
.navbar .button{
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 10px;
}
@media (max-width: 992px){
  .navbar .button{
    display: block;
  }
}
.navbar .collapse{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar .collapse .navbar-brand{ 
  display: none;
}
@media (max-width: 992px){
  .navbar .collapse{ 
    position: absolute;
    left: -360px;
    top: 0;
    width: 260px;
    height: 100vh;
    z-index: 999;
    background-color: #fff;
    display: block;
    transition: var(--main-transition);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
  }
  #nav_check:checked ~ #main {
    left: 0;
  }
  #nav_check:checked ~ .button {
    background-color: var(--alt2-color);
    color: var(--alt-color);
  }
  .navbar .collapse .navbar-brand{ 
    display: block;
    text-align: center;
    background-color: var(--alt-color);
  }
}
.navbar .collapse ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .collapse ul li a{
  padding: 8px 12px;
  border-radius: 5px;
  color: black;
}
@media (max-width: 992px){
  .navbar .collapse ul{
    display: block;
  }
  .navbar .collapse ul li {
    padding: 10px 0;
  }
  .navbar .collapse ul li a{
    display: block;
  }
}
.navbar .collapse ul li a:hover{
  background-color:var(--alt2-color) ;
  color: var(--alt-color);
}
.navbar .collapse .search:hover {
  color: var(--color-777);
  transition: var(--main-transition);
  cursor: pointer;
}
@media (max-width: 992px){
  .navbar .collapse .search{
    display: none;
  }
}
/* End Navbar */
/* End hedaer */
/* Start landing */
.landing{
  background-image: url(../imgs/teaser_114.png);
  background-size: cover;
  width: 100%;
  height: 67vh;
}
@media (max-width: 992px){
  .landing{
    height: 47vh;
  }
}
@media (max-width: 577px){
  .landing{
    background-image: url(../imgs/800x0_teaser_114.png);
  }
}
.landing .text{
  padding-top: 46px;
}
.landing .text h1{
  color: var(--alt-color);
  letter-spacing: 1.5px;
  text-shadow: 0 0 8px rgba(0,0,0,.6);
  margin-bottom: 12px;
  font-weight: bold;
}
.landing .text p{
  color: var(--alt-color);
  margin-bottom: 30px;
  line-height: 1.15;
  text-shadow: 0 0 8px rgba(0,0,0,.6);
  max-width: 85%;
}
@media (max-width: 767px){
  .landing .text h1{
    margin-bottom: 30px;
  }
  .landing .text p{
    display: none;
  }
}
/* End landing */
/* Start Travel */
.travel{
  background-color: #F1F0F0;
}
.travel .container .text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px){
  .travel .container .text{
    display: block;
    text-align: center;
  }
}
.travel .container .text h1{
  font-weight: normal;
  font-size: 2.6em;
  margin: 0;
  padding: 25px 0;
}
.travel .row{
  display: flex;
  justify-content: space-around;
  margin-bottom: 33px;
}
.travel .row:last-child{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}
@media (max-width: 767px){
  .travel .row:last-child{
    display: flex;
  }
}
@media (min-width: 767px){
  .travel .row .col{
    margin-right: 25px;
  }
}
.travel .row:last-child .col{
  margin-bottom: 30px;
}
@media (max-width: 767px){
  .travel .container .text a{
    display: none;
  }
  .travel .row{
    flex-wrap: wrap;
  }
  .travel .row .col:first-child{
    margin-right: 0;
    margin-bottom: 25px;
  }
  
}
.travel .row .col .card {
  width: fit-content;
  max-width: 530px;
  background-color: var(--alt-color);
  border-radius: 10px;
  overflow: hidden;
}
.travel .row:last-child .col .card {
  max-width: 360px;
}
@media (max-width: 767px){
  .travel .row:last-child .col .card {
    max-width: 530px;
  }
}
.travel .row .col .imgs {
  position: relative;
  overflow: hidden;
}
.travel .row .col .card .imgs img{
  max-width: 100%;
  margin-bottom: -66px;
  cursor: pointer;
}
.travel .row:last-child .col .card .imgs img{
  margin-bottom: -30px;
}
.travel .row .col .card .imgs span {
  position: absolute;
  z-index: 500;
  right: 0;
  bottom: 16px;
  background-color: var(--alt2-color);
  color: var(--alt-color);
  padding: 6px 12px 6px 6px;
  border-radius: 8px 0 0 8px;
  font-weight: bold;
}
.travel .row .card .text-card{
  padding: 8px 16px;
}
.travel .row .card .text-card h2:hover{
  cursor: pointer;
  text-decoration: underline;
}
.travel .row .card .text-card p{
  color: var(--color-777);
}

/* End Travel */
